<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="orm">
            <file>DdlGenerationTest.php</file>
            <file>TableGeneratorTest.php</file>
            <file>EntityManagerTest.php</file>
            <file>QueryBuilderTest.php</file>
            <file>EntityRepositoryTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>